<div class="section section-1 aos-init">
  <!--섹션1-->
  <section class="section1">
    <div class="bgwrap">
      <div class="bgimg"></div>
      <!--섹션1 타이들 부분-->
      <div class="sec1__title"></div>
    </div>
  </section>
</div>
<div class="section section-2 aos-init">
  <section class="section2">
    <div class="padding-wrap">
      <div class="area">
        <div class="side-bg">
          <img src="img/right-bori.png" alt="보리" />
        </div>
        <div class="contents-box">
          <article class="font-box">
            <h2 data-aos="fade-up" data-aos-duration="800">대한민국 1등 막걸리</h2>
            <h1 data-aos="fade-up" data-aos-duration="800"><span class="green">장수(長壽)</span>생막걸리</h1>
            <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">
              백미를 사용해 장기저온숙성 방식으로 만들어져 영양이 풍부하고
              <br class="br-none" />
              자연발효에 의한 탄산과 어울려 감칠맛과 청량감이 일품입니다.
            </p>
            <div class="btn-box block" data-aos="fade-right" data-aos-duration="800" data-aos-delay="400">
              <a class="btn-more" href="">
                <span>더 알아보기</span>
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </article>
          <article class="img-box swiper-container">
            <div class="img-slide swiper-wrapper">
              <div class="swiper-slide"><img src="img/main-sec2-1.png" alt="막걸리" /></div>
              <div class="swiper-slide"><img src="img/main-sec2-2.png" alt="막걸리" /></div>
            </div>
          </article>
          <div class="btn-box none">
            <a class="btn-more" href="">
              <span>더 알아보기</span>
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="section section-3 aos-init">
  <section class="section3">
    <div class="padding-wrap">
      <div class="area">
        <div class="side-bg">
          <img src="img/move-bori.gif" alt="보리" />
        </div>
        <div class="right-bg">
          <img src="img/back1.png" alt="보리" />
        </div>
        <div class="contents-box reverse">
          <article class="font-box padding-left">
            <h2 data-aos="fade-up" data-aos-duration="800">
              다양한 막걸리들을
              <br class="br-none" />
              쉽게 만날 수 있도록
            </h2>
            <h1 data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
              <span class="green">서울탁주</span>가
              <br class="br-none" />
              준비했습니다.
            </h1>
            <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
              서울탁주제조협회는 1962년 2월 1일에 설립된
              <br class="br-none" />
              국내탁주업계 최대(最大), 최고(最古)의 탁주제조업 단체입니다.
            </p>
            <div class="btn-box block" data-aos="fade-up" data-aos-duration="800" data-aos-delay="900">
              <a class="btn-more" href="/productDetail">
                <span>더 알아보기</span>
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </article>
          <article class="img-box flex-start swiper-container">
            <div class="img-slide swiper-wrapper">
              <div class="swiper-slide"><img src="img/main-sec3-1.png" alt="막걸리" /></div>
              <div class="swiper-slide"><img src="img/main-sec3-2.png" alt="막걸리" /></div>
            </div>
          </article>
          <div class="btn-box none">
            <a class="btn-more" href="">
              <span>더 알아보기</span>
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="section section-4 aos-init">
  <section class="section4">
    <div class="padding-wrap">
      <div class="area">
        <h1 data-aos="fade-up" data-aos-duration="800"><span class="green">서울탁주</span>와 함께해보세요.</h1>
        <ul data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
          <li>
            <div class="section4-text__box">
              <h2>Research Development</h2>
              <p>서울탁주 막걸리연구소는 품질개선, 공정관리, 신제품 개발 등의 업무를 수행하고 있습니다.</p>
            </div>
            <div class="section4-img__box">
              <img src="img/main-sec4-con1-1.png" alt="R&D" />
            </div>
            <div class="hover-box">
              <!-- <div class="hover-box__title">
                    </div> -->
              <div class="text-box padding-small">
                <h2>Research Development</h2>
                <p>공정관리를 통해 작업환경 개선하여 HACCP 도입 준비를 하고 있으며 품질개선 및 품질관리로 소비자 기호의 다양화와 고급화를 대비한 신제품 개발중에 있습니다.</p>
              </div>
              <!-- <div> -->
              <div class="section4-img__box">
                <img src="img/main-sec4-con1-2.png" alt="make" />
              </div>
              <!-- </div> -->
            </div>
          </li>
          <li>
            <div class="section4-text__box">
              <h2>살균 막걸리와 생막걸리</h2>
              <p>살균 막걸리는 출하되기 전 효모와 유산균을 멸균하여 더 이상 발효가 진행되지 않도록 한 것입니다.</p>
            </div>
            <div class="section4-img__box">
              <img src="img/main-sec4-con2-1.png" alt="wolmae" />
            </div>
            <div class="hover-box">
              <!-- <div class="hover-box__title">
                    </div> -->
              <div class="text-box padding-big">
                <h2>살균 막걸리와 생막걸리</h2>
                <p>생막걸리는 자연 탄산이 생성되어 톡 쏘는 맛이 있는 반면, 살균막걸리는 자연 탄산이 없습니다. 생막걸리가 가진 유통기한의 한계는 뒤집어보면 매력이기도 합니다.</p>
              </div>
              <div class="section4-img__box section4-img--small">
                <img src="img/main-sec4-con2-2.png" alt="make" />
              </div>
            </div>
          </li>
          <li>
            <div class="section4-text__box">
              <h2>제조공정</h2>
              <p>위생적이며 안전하게 관리하는 서울탁주만의 방식으로 사계절 변함없는 최고의 품질과 맛을 전하고 있습니다.</p>
            </div>
            <div class="section4-img__box">
              <img src="img/main-sec4-con3-1.png" alt="make" />
            </div>
            <div class="hover-box">
              <!-- <div class="hover-box__title">
                    </div> -->
              <div class="text-box padding-small">
                <h2>제조공정</h2>
                <p>반세기 외고집으로 막걸리만을 빚어 왔으며, 앞으로도 막걸리만을 위한 기업으로 정진할 것입니다.</p>
                <div class="btn-box">
                  <a class="btn-more" href="">
                    <span>보러가기</span>
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </div>
              </div>
              <div class="section4-img__box">
                <img src="img/main-sec4-con3-2.png" alt="make" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<div class="section section-5 aos-init">
  <section class="section5">
    <div class="padding-wrap">
      <div class="area">
        <div class="side-bg">
          <img src="img/back1_left.png" alt="보리" />
        </div>
        <div class="road" data-aos="fade-down">
          <img src="img/main5_road.png" alt="길" />
        </div>
        <div class="bottle-on bottle1" data-aos="fade-down" data-aos-duration="800" data-aos-delay="300">
          <img src="img/bottle1.png" alt="1" />
        </div>
        <div class="bottle-on bottle2" data-aos="fade-down" data-aos-duration="800" data-aos-delay="700">
          <img src="img/bottle2.png" alt="2" />
        </div>
        <div class="bottle-on bottle3" data-aos="fade-down" data-aos-duration="800" data-aos-delay="1100">
          <img src="img/bottle3.png" alt="3" />
        </div>
        <div class="bottle-on bottle4" data-aos="fade-down" data-aos-duration="800" data-aos-delay="1500">
          <img src="img/bottle4.png" alt="4" />
        </div>
        <div class="bottle-on bottle5" data-aos="fade-down" data-aos-duration="800" data-aos-delay="1900">
          <img src="img/bottle5.png" alt="5" />
        </div>
        <div class="contents-box">
          <article class="font-box">
            <h1><span class="green">서울탁주</span>가 걸어온 길</h1>
            <div class="road-wrap swiper road-container">
              <div class="road-wrap__list swiper-wrapper">
                <p class="swiper-slide">1962 서울주조협회 창립</p>
                <p class="swiper-slide">1980 서울탁주제조협회 명칭변경</p>
                <p class="swiper-slide">1996 보존기간 12개월의 살균탁주 쌀막걸리 제조</p>
                <p class="swiper-slide">2000 보존기간 8개월의 살균탁주(탄산 주입) 쌀막걸리 제조(PET)</p>
                <p class="swiper-slide">2004 모법 납세자 표창(국세청)</p>
                <p class="swiper-slide">2007 국세청 주최 전통주품평회에서 명품주로 선정</p>
                <p class="swiper-slide">2008 (사)한국쌀가공식품협회 주관 10대 우수 쌀 가공식품 선정</p>
                <p class="swiper-slide">2009 산하법인 서울장수주식회사 설립</p>
                <p class="swiper-slide">2018 국가 산업 발전에 이바지한 공로로 대통령 표창장 수상</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="section section-6 aos-init">
  <section class="section6">
    <div class="padding-wrap">
      <div class="area">
        <div class="side-sullsang">
          <img src="img/main-sec4-sulsang.png" alt="술상" />
        </div>
        <div class="side-bg">
          <img src="img/back3.png" alt="보리" />
        </div>
        <ul class="flex-row">
          <li class="board-title">
            <h1 data-aos="fade-up" data-aos-duration="800">공지사항</h1>
          </li>
          <li class="board-list">
            <% for(let i = 0; i < 2; i++) { %>
            <div class="board-wrap" data-aos="fade-up" data-aos-duration="800">
              <div class="board-list__title">
                <a href="noticeDetail?id=<%= rows[i].id %>">
                  <span><%= rows[i].title %> </span>
                </a>
              </div>
              <div class="board-info">
                <div class="board-list__title none">
                  <a href="noticeDetail?id=<%= rows[i].id %>">
                    <span><%= rows[i].title %></span>
                  </a>
                </div>
                <div class="board-list__date">
                  <a href="noticeDetail?id=<%= rows[i].id %>">
                    <span><%= rows[i].create_time %></span>
                  </a>
                </div>
                <div class="board-list__author">
                  <a href="noticeDetail?id=<%= rows[i].id %>">
                    <span>서울탁주</span>
                  </a>
                </div>
              </div>
            </div>
            <% } %>
            <div class="btn-box" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
              <a class="btn-more" href="/notice">
                <span>더 보기</span>
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.js"></script>
<!-- slide.js -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="js/slide.js"></script>
<!-- vertical.js -->
<script src="js/vertical.js"></script>
<!-- fontawesome kit -->
<script src="https://kit.fontawesome.com/1af51f8c7f.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="js/index.js"></script>
<script src="js/fullpage.js"></script>

<!-- from aboutus.ejs -->
<script src="js/aboutUs.js"></script>

<!-- from join.ejs -->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="js/join.js"></script>
